.burgerMenuIcon {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0px 0px 2px 0px rgba(29, 33, 38, 0.1),0px 0px 40px 0px rgba(29, 33, 38, 0.13);
    background: rgb(255, 255, 255);
    padding: 17px 70px 14px 70px;
    margin-bottom: 47px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
}

.header h1 {
    /* Ваши стили для h1 здесь */
}
